@import "bootstrap";

.item {
  border: 5px solid #005CAA;
  background-color: #f2e9e9;
}

.box {
  background-color: #f2e9e9;
}

body {
  background-image: url('pink-watercolor.jpg');
  background-size: cover;
}

nav {
  background-image: url('green-dust.png');
}

h1 {
  color: #005CAA;
}
