@import "bootstrap";

h1 {
  margin-top: 25px;
}
.item {
  border: 5px solid #005CAA;
  background-color: #f2e9e9;
  margin-top: 10px;
  padding-top: 10px;
}

.box {
  background-color: #f2e9e9;
}

body {
  background-image: image-url('pink-watercolor.jpg');
  background-size: cover;
}

nav {
  background-image: image-url('green-dust.png');
}

h1 {
  color: #005CAA;
}

.about {
  margin-top: 100px;
}
.image {
  height: 75px;
}
