<div class="box col-8 offset-2 about">
  <h1 class="text-center">About Page</h1>
  <p>K-Beauty stands for Korean Beauty. On this website, you can look through a directory of amazing K-Beauty products.</p>
  <p>For more information about K-Beauty, check out <a href="www.reddit.com/r/koreanbeauty">/r/KoreanBeauty</a> on Reddit. </p>
  <p>This app was created by Caitlin O'Halloran, a student of The Firehose Project.</p>
<a href="https://www.freepik.com/free-vector/pink-watercolor-texture_940298.htm">Background Image Designed by Freepik</a>
</div>
